:root{
   --primary-color:	white; 
   --button-color: rgba(14, 14, 235, 0.87);
   --loader-color:blue;
   --shade-of-button:rgba(14, 14, 235, 0.70);
   --card-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
   --button-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
   --elevation-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

body{
    overflow-y:hidden;
    overflow-x: hidden;
    margin: 0px;
    border: 0px;
    position: relative;
}

.message-container{
    z-index:999;
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column; /* New messages on bottom */
    gap: 10px;
    pointer-events: none; 
}

.message-popup {
  background-color: #222;
  color: #fff;
  padding: 12px 20px;
  border-radius: 8px;
  min-width: 200px;
  text-align: center;
  animation: slideUpFade 0.4s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

@keyframes slideUpFade {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


.floating{
    top:0px;
    left: 0px;
    margin: 0px;
    padding: 0px;
    margin: 0px;
    display: flex;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 5;
    background-color: rgba(231, 231, 231, 0.475);
}

.loader{
    z-index: 10;
}

.header,.footer{
    box-shadow: var(--elevation-shadow);
}
.header{
    position: sticky;
    top: 0;
    padding: 20px;
    font-size:x-large;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header >div{
    display: flex;
    gap: 20px;
    align-items: center;
}
.header >div > button{
    background-color:  white;
    border: 0px;
    border-radius: 50%;
    padding: 10px;
    box-shadow: var(--button-shadow);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header > div > button :hover{
    cursor: pointer;
}

.toast{
    z-index: 990;
    position: fixed;
    padding: 10px 15px;
    background-color: rgb(255, 58, 58);
    color: white;
    border-radius: 10px;
    left: 50%;
    transform: translateX(-50%) ;  
    animation: popFromBottom 0.5s linear forwards;
}
@keyframes popFromBottom {
    0%{
        bottom: -50px;
    }
    100%{
        bottom:20px;
    }
}